<div class="row">
  <div class="col-xs-6">
    <h1><%= @post.title %></h1>
    <p><%= @post.body %></p>
    <p><%= link_to @post.link.truncate(50), @post.link, target: "_blank" %></p>
    <%= image_tag @post.image(:medium) %>
    <br>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
    <%= link_to "Delete", @post, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
  </div>
  <div class="col-xs-6">
    <% if @post.has_address? %>
      <div style=''>
        <div id="map" style=' height: 400px;'></div>
      </div>
    <% end %>
  </div>
</div>

<% if @post.has_address? %>
  <script type="text/javascript">
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": <%= @post.latitude %>,
            "lng": <%= @post.longitude %>,
            "zoom": 0,
            "infowindow": "hello!"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    })
  </script>
<% end %>