<div class="row">
  <div class="col-xs-4">
    <h1>Post: <%= @post.title %></h1>
    <p><%= @post.body %></p>
    <%= image_tag @post.image(:medium) %>

    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
    <%= link_to "Delete", @post, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
  </div>
  <div class="col-xs-8">
    <% if @post.has_address? %>
      <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 400px;'></div>
      </div>
    <% end %>
  </div>
</div>

<% if @post.has_address? %>
  <script type="text/javascript">
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": <%= @post.latitude %>,
            "lng": <%= @post.longitude %>,
            "picture": {
              "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
              "width":  36,
              "height": 36
            },
            "infowindow": "hello!"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  </script>
<% end %>