<h1>Post: <%= @post.title %></h1>
<p><%= @post.body %></p>
<%= image_tag @post.image(:medium) %>

<%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
<%= link_to "Delete", @post, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>